<%- include('includes/header') %>
<%- messages() %>
<div>
    
    	<td>
    		<h1>Email is: <%= email %></h1>
		</td>
    
</div> 
    	<script>
			//document.getElementById("demo").innerHTML = events.name;

		</script>
    
      
        
<%- include('includes/footer') %>