<%- include('includes/header') %>
<%- messages() %>
 
    <div class="container" method="$.get">
    	<li class="active"><a href="#">hello</a></li>
    	<li class="active"><a href="#"><%= result.email%></a></li>
    </div>
      
        
<%- include('includes/footer') %>