<%- messages() %>
<%- include('includes/header') %>



<div class="container reg-page">
<form method = "post" action="/events" class="form-signin">
    <lable>Region</lable><br>
    <select onchange="set_country(this,country,city_state)" size="1" name="region">
        <option value="" selected="selected">ALL</option>
        <script type="text/javascript">
            setRegions(this);
        </script>
    </select>
    <br>
    <br>
    <br>
    <lable>Country</lable><br>
    <select name="country" size="1" disabled="disabled" onchange="set_city_state(this,city_state)">
        <option value="" selected="selected">ALL</option>
    </select>
    <br>
    <br>
    <br>
    <lable>City/State</lable><br>
    <select name="city_state" size="1" disabled="disabled" onchange="print_city_state(country,this)">
        <option value="" selected="selected">ALL</option>
    </select>
    <br>
    <br>
    <br>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Search</button>
</form>
<div id="txtregion"></div>
<div id="txtplacename"></div>
</div>