<!DOCTYPE html>
<html>
<head>
  <title>EventApp</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <!-- <script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script> -->
  <script type="text/javascript" src="/js/city_state.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">EventApp</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
              <li class="active"><a href="/users/login">Add Event</a></li>
              <li class="active"><a href="/users/login">Login</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>


<div class="container reg-page">

  <%- messages() %>
      <form method = "post" action="/users/login" class="form-signin">
        <h2 class="form-signin-heading text-center">User Login</h2>
        <label>Email</label>
        <input type="email" name="email" class="form-control" placeholder="Email" required autofocus>
        <br>
        <label>Password</label>
        <input type="password" name="password" class="form-control" placeholder="Password" required>
        
        <p>
        	No Account? <a href="/users/register">Register</a>	
        </p>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>

    </div> <!-- /container -->


<%- include('includes/footer') %>