body {
  background-color: #eee !important;
}

.reg-page, .login-page{
  padding-top: 40px;
  padding-bottom: 40px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#messages ul.error{
  list-style: none;
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

#messages ul.success{
  list-style:none;
  color:#3c763d;
  background-color: #dff0d8;
  border-color: #dff0d8;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

footer{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background: #666;
  text-align: center;
  padding:10px;
}


.dropdown:hover{
    background: black;
}
.dropdown:hover .dropdown-content{ 
    display: block;    
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    overflow: hidden;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content hr{
  border: none;
  border-top: 1px dotted #a0a0a0;
  margin: 5px 0;
  width: 95%;
}
.dropdown-content a{
    color: black;
    text-decoration: none;
    display: block;
    display: inline;
}
.dropdown-content a:hover{
  text-decoration: underline;
}

.dropdown-content{
    padding: 5px 20px;
}


form #location {
    width: 98%;
    margin: 200px 0 60px 0;
    position: relative;
}

select {
    width: 190px;
    font: normal 11px verdana;
}

#txtregion {
    width: 98%;
    height: 16px;
    font: normal 12px verdana;
    letter-spacing: .4em;
    margin: auto;
    border-bottom: 1px black solid;
}
#txtplacename {
    width: 98%;
    height: 16px;
    font: normal 10px verdana;
    margin: auto;
}
